.header{
    background-image: url('/images/about-img.jpg');
    background-size:cover ;
    background-position:center ;
    height: 100px;
    position: relative;
    align-items:flex-start;
    color: white;
  
  }

.logo{
    height: 70px;
    width: 200px;
    border-radius: 50%;
    }
.navbar{
      font-size: 2rem;    
      width: 100%;
      position: absolute;
      top: 0;
      background-color: #007bff;
    }   
li{
        margin-right:40px;
        }



.section{
  text-align: center;
  margin-left: -100px;
  h2{
    font-size: 3rem;
    margin-left: 10%;
    margin-top: 80px;
  }
  p{
    font-size: 20px;
    margin-left: 10%;

  }
}


.section-2{
  margin-top: 60px;
background-color: #F3F4FE;
padding-bottom: 30px;

h2{
  text-align: center;
  font-size:45px;

}
h4{
  margin-top: 20px;
  text-align: center;

}
.card{
  text-align: center;
}
p{
  margin-bottom: 25px;
  font-size:17px;
  text-align: center;
}

form{
  margin-bottom: 16px;
}
button{
  margin-left: 285px;
  margin-top: 40px;
}
#spas{
      margin-top: 130px;
    
  }
}
#spas{
  margin-left: 120px;
}

.section-3{
background-color: #007bff;
color: white;
padding-bottom: 30px;
  img{
    margin-top: 40px;
    width: 400px;
  }

  h2{
    text-align: center;
    font-size: 44px;
    margin-top: 100px;

  }
  p{
    font-size: 20px;
  }
  
}

.section-4{
  h4{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}



.section-7{
  padding-top: 35px;
  background-color: #090a0c69;
  color:white ;
  margin-top: 24px;
  a{
    color: inherit;
    text-decoration: none;
  }
  .col-md-4{
  margin-top: 20px;
  }
  .col-4{
    margin-top: 21px;
  }
}
.footer{
  background-color: #090a0c69;
  color:white ;
  text-align: center;
  margin-top: -24px;
  height: 100px;

}



@media only screen and (max-width: 768px){

  .navbar-nav{
    margin-bottom: 30px;
    margin-left: 105px;
    text-align: center;
  }


.section{
  h2{
    font-size: 34px;
    margin-top: 340px;
    margin-left: 96px;
  }
  p{
    font-size: 15px;
    margin-left: 80px;
  }
}
.section-2{
  h2{
    font-size: 30px;
  }
  h4{
    font-size: 25px;
  }

  button{
    margin-top: 10px;
    margin-left: 150px;
  }
}
#spas{
  margin-left: 30px;

}
.section-3{
  
  img{
    width: 300px;
    margin-left: 37px;
    margin-bottom: 20px;
    

  }h2{
    font-size: 25px;
  }
  li{
    margin-left: 100px;
  }

}
.section-7{
  .logo{
    margin-left: 85px;
    margin-bottom: 30px;

  }
  .col-4{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
  }
}
.header{
  .logo{
      margin-left: 85px;
  }
}
}